<app-header></app-header>
<router-outlet></router-outlet>

<!-- <div style="text-align:center">
  <h1>My E-Commerce Assistant</h1>
</div> -->

<app-chatbot></app-chatbot>

<hr style="margin: 2rem 0" />

<!-- <app-faq></app-faq> -->


<!-- <div class="chatbot-container">
<app-chatbot></app-chatbot>
</div> -->


<!-- Toggle Button
<button class="chat-toggle-button" (click)="toggleChatbot()">
  💬
</button> -->

<!-- Chatbot Widget -->
<!-- <div class="chatbot-container" *ngIf="showChatbot">
  <app-chatbot></app-chatbot>
</div> -->
